<h1><%=@person.first_name%> <%=@person.last_name%></h1>

<h3>Classes can tutor for:</h3>
<% @person.tutors.each do |tutor| %>
	<p><%=tutor.classes.name%> (<%=tutor.classes.course_number%>) at <%=tutor.classes.school.name%> during the <%=tutor.classes.term.name%> of <%=tutor.classes.year_taken%></p>
<%end%>

<p></p>
<h3>Classes looking for a tutor in:</h3>
<% @person.students.each do |student| %>
	<p><%=student.classes.name%> (<%=student.classes.course_number%>) at <%=student.classes.school.name%> during the <%=student.classes.term.name%> of <%=student.classes.year_taken%></p>
<%end%>