<h3 class="page-header">
  My Classes
  <div class = "pull-right">
    <div class = "dropdown">
      <button class="btn btn-sm btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Delete a Class
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%@students.each do |student| %>
        <li><%= link_to student.course.name, student_url(student), method:  :delete, data: {confirm: "Seriously?"} %></li>
        <%end%>
      </ul>
    </div>
  </div>

  <div class = "pull-right">
  &nbsp
  </div>
  
  <div class="pull-right">
    <div class="dropdown">
      <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add a Class
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%@courses.each do |course| %>
          <%@students.each do |student| %>
            <% if course = student.course %>
            <li><%= link_to course.name, students_url(course.id), method:  :post%></li>
            <% end%>
          <%end%>
        <%end%>
      </ul>
      </div>
    </div>
  
  <div class = "pull-right">
  &nbsp
  </div>

  <div class="pull-right">
    <p>
      <% @students.each do |student| %>
        <%if student.active%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-primary"%>
        <%else%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-default"%>
        <%end%>
      <% end %>
    </p>
  </div> 
</h3>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= link_to student.course.name, course_url(student.course)%>
      <%= link_to "Delete", student_url(student), method:  :delete, class:"btn btn-sm btn-danger", data: {confirm: "Seriously?"} %>
    </li>
  <% end %>
</ul>