<h3 class="page-header">
  My Classes
  <div class = "pull-right">
    <div class = "dropdown">
      <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" data-toggle="dropdown">Delete a Class
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%@students.each do |student| %>
            <li><%= link_to student.course.name, student_url(student), method:  :delete, data: {confirm: "Seriously?"} %></li>
        <%end%>
      </ul>
    </div>
  </div>

  <div class = "pull-right">
  &nbsp
  </div>
  
  <div class="pull-right">
    <div class="dropdown">
      <button class="btn btn-sm btn-neutral dropdown-toggle" type="button" data-toggle="dropdown">Add a Class
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <%student_courses = @students.map {|a| Course.find_by(id: a.course_id)} %>
        <%@courses.each do |course| %>
          <%if student_courses.include?(course)==false%>
            <li><%= link_to course.name, students_url(course.id), method:  :post%></li>
          <%end%>
        <%end%>
      </ul>
      </div>
    </div>
  
  <div class = "pull-right">
  &nbsp
  </div>

  <div class="pull-right">
    <p>
      <% @students.each do |student| %>
        <%if student.active%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-primary"%>
        <%else%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-default"%>
        <%end%>
      <% end %>
    </p>
  </div> 
</h3>

  <span class="pull-left">
    <% active_student = Student.find_by(active: true, user_id: current_user.id) %>
    <% if !active_student.nil? %>
      <% active_student.course.homeworks.each do |homework| %>  
        <%if homework.active == true%>
          <%= link_to homework.name, course_homework_url(@course, homework), method:  :patch, class:"btn btn-sm btn-primary"%>
        <%else%>
          <%= link_to homework.name, course_homework_url(@course, homework), method:  :patch, class:"btn btn-sm btn-default"%>
        <%end%>
      <%end%>
    <% end%>
    </p>
  </span>

  <br></br>
<h3 class %>
<span class = "pull-left">
  <% if !active_student.nil? %>
    <% active_student.course.homeworks.each do |homework| %>  
      <% if homework.active == true %>
         <% hwsubmissions = HWSubmission.where(homework_id: homework.id, student_id: active_student.id)%>
         <% hwsubmission = HWSubmission.find_by(homework_id: homework.id, student_id: active_student.id)%>
         <% if !hwsubmission.nil? %>
           <%= hwsubmission.student.user.name%> 
           <p></p>
           <% counter = 1 %>
           <% hwsubmissions.each do |hwsubmission| %>        
              <% if hwsubmission.completed == true%>
                <%= link_to counter, hwsubmission_url(hwsubmission), method:  :patch, class:"btn btn-success"%>
              <% else %>
                <%= link_to counter, hwsubmission_url(hwsubmission), method:  :patch, class:"btn btn-danger"%>
              <% end %>
              <% counter = counter + 1 %>
           <% end %>

           <% students = Student.where(course_id: active_student.course_id) %>
           <% students.each do |student| %>
             <% if student.user != current_user %>
               <p> &nbsp </p>
               <%=student.user.name%>
               <p></p>
               <% hwsubmissions = HWSubmission.where(homework_id: homework.id, student_id: student.id) %>
               <% counter = 1 %>
               <%hwsubmissions.each do |hwsubmission| %>       
                 <% if hwsubmission.completed == true%>
                   <button type="button" class="btn btn-success"><%=counter%></button></font>
                 <% else %> 
                   <button type="button" class="btn btn-danger"><%=counter%></button></font>
                 <% end %>
                 <% counter = counter + 1 %>
               <% end %>
            <% end%>
          <% end %>
        <% else %>
          <%= link_to "Start Homework", hwsubmissions_url(homework.id), method:  :post %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</span>
</h3>

