<h3 class="page-header">
  My Classes
  <span class="pull-right">
    <p>
      <% @students.each do |student| %>
        <%if student.active%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-primary"%>
        <%else%>
          <%= link_to student.course.name, student_url(student), method:  :patch, class:"btn btn-sm btn-default"%>
        <%end%>
      <% end %>
      <%= link_to "Add a Class", new_student_path, class: 'btn btn-sm btn-success' %>
      <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add a Class
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </p>
  </span>
</h3>

<ul>
  <% @students.each do |student| %>
    <li>
      <%= link_to student.course.name, course_url(student.course)%>
      <%= link_to "Delete", student_url(student), method:  :delete, class:"btn btn-sm btn-danger", data: {confirm: "Seriously?"} %>
    </li>
  <% end %>
</ul>