<div class="row">
  <div class="col-md-12">
    <h3 class="page-header"><center> 
      <font size="6"><%=@tutor.user.name%> at <%=@tutor.user.school.name%></font>
    </center></h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Reviews for <%=@tutor.course.name%></h3></div>
    <div class="panel-body">
      <% @tutor.reviews.each do |review| %>
        <h4>
          <%= review.user.name %> 
          <% review.rating.times do %>
            <i class="fa fa-star"></i>
          <% end %>
        </h4>
        <p><%= review.body %></p>
      <% end %>

      <% if current_user.id != @tutor.user_id %>
        <%= link_to "Write a Review", new_tutor_review_url(@tutor), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
  <div class="panel panel-info">
    <div class="panel-heading"><h3>Messages with <%=@tutor.user.name%></h3></div>
    <div class="panel-body">
      <% @tutor.messages.each do |message| %>
        <p><%= message.student.user.name%>: <%= message.body %></p>
      <% end %>

      <% if current_user.id != @tutor.user_id %>
        <%= link_to "Chat", new_tutor_message_url(@tutor), class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>       