<% if @homework.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <% @homework.errors.full_messages.each do |message| %>
      <%= message %><br>
    <% end %>
  </div>
<% end %>

<%= form_for [@course, @homework] do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :num_questions %>
    <%= form.number_field :num_questions, class: "form-control" %>
  </div>
  <%= form.button 'Create Homework', class: "btn btn-success" %>
<% end %>
