<h3 class="page-header">
  All Classes
  <span class="pull-right">
    <p>
      <%= link_to "Become a Student", new_student_path, class: 'btn btn-sm btn-info' %>
      <%= link_to "Become a Tutor", new_tutor_path, class: 'btn btn-sm btn-info' %>
    </p>
  </span>
</h3>

<ul>

<!-- View for Administrators -->
<% if current_user.admin? %>
  <% @courses.each do |course| %>
    <li>
      <%= link_to course.name, course_url(course) %>
      <%= link_to "Edit", edit_course_url(course), class:"btn btn-sm btn-default" %>
      <%= link_to "Delete", course_url(course), method:  :delete, class:"btn btn-sm btn-danger", data: {confirm: "Seriously?"} %>
    </li>
  <% end %>

<!-- View for Users -->
<% else %>
<!-- Classes Need Help In -->
  
  <h3> I need help in: </h3>
  <% @user.students.each do |student| %>
    <li>
      <%= link_to student.course.name, course_url(student.course) %>
      <%= link_to "Delete", student_url(student), method:  :delete, class:"btn btn-sm btn-danger", data: {confirm: "Seriously?"} %>
    </li>
  <% end %>

  <!-- Classes Can Tutor In -->
  <h3> I can tutor in: </h3>
  <% @user.tutors.each do |tutor| %>
    <li>
      <%= link_to tutor.course.name, tutor_url(tutor) %>
      <% if tutor.available %>
        <%= link_to "Status: Available", edit_tutor_url(tutor), class:"btn btn-sm btn-success"%>
      <% else %>
        <%= link_to "Status: Not Available", edit_tutor_url(tutor), class:"btn btn-sm btn-default"%>
      <% end %>
      <%= link_to "Delete", tutor_url(tutor), method:  :delete, class:"btn btn-sm btn-danger", data: {confirm: "Seriously?"} %>
    </li>
  <% end %> 
<% end %>
</ul>